---
import config from '../config/site.js'

export interface Props {
  title?: string;
  permalink?: string;
  description?: string;
  image?: string;
}

const props = {...config, ...Astro.props}
const {permalink, description, image = '/images/social.png'} = props;
const title = Astro.props.title ? `${props.title} | ${config.title}` : config.title
---

<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />

<meta property="og:type" content="website" />
<meta property="og:url" content={permalink} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={image} />

<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={permalink} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={image} />
